.THIS .buttonItem{
    text-align: right;
    padding-right: 1rem;
}

.THIS .buttonL{
    align-items: center;
}

.THIS .hh{
    height: 100%;
}

.THIS .ovr{
    overflow: auto; 
    height: 300px;
}

.THIS .sz  {
    min-height: 100px;
}

.THIS .ovrbtn{
    white-space: nowrap; 
}

.THIS .hgltItem{
    background: #80b6f9;
    color: #fff;
}