/**
 * Created by Alon.Shalev on 5/21/2024.
 */
.header {
    display: flex;
    align-items: center;
    font-weight: inherit;
}
.label {
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.value {
    flex-grow: 1;
}