.THIS.c-container {
    padding: 0px 1rem;
}

.THIS.c-container .btn {
    display: flex;
    align-items: flex-end;	
}

.THIS.c-container .info {
    margin-top: 22px;
    
	border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
}

.THIS.c-container h2 {
	font-weight: bold;
    margin-bottom: 5px;
}

.THIS.c-container p {
	font-weight: bold;
}

.THIS.c-container p span {
    margin-left: 5px;
    
    font-weight: normal;
}

.THIS .custom-cancel-button {
    margin-left: 22px;
}