.THIS.quoteRecord{
    border-radius: 15px 15px 15px 15px;
    background: white;
}
.THIS .soccer-text {
    /* Full width and centered text */
    width: 100%;
    text-align: center;
    font-size: 2.5rem; /* Bigger font for emphasis */
    font-weight: bold;
    padding: 20px; /* Add padding for spacing */
    background: linear-gradient(90deg, #195afe, #ff7a1a); /* Green and white gradient background */
    color: #ffffff; /* White text */
    display: flex;
    align-items: center; /* Vertically align text with the icon */
    justify-content: center; /* Horizontally center everything */
}

/* Soccer icon style */
.THIS .soccer-icon {
    font-size: 2.5rem;
    margin-right: 15px; /* Space between the icon and text */
    animation: spin 2s linear infinite; /* Rotating effect */
}

/* Soccer ball spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}